#!/usr/bin/make -f
# Sample debian/rules that uses debhelper.
# GNU copyright 1997 to 1999 by Joey Hess.

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

# This is the debhelper compatibility version to use.
export DH_COMPAT=4

PACKAGE = planner-el
PKGDIR  = debian/${PACKAGE}
DOCDIR  = /usr/share/doc/${PACKAGE}
LISPDIR = /usr/share/emacs/site-lisp/${PACKAGE}

configure: configure-stamp
configure-stamp:
	dh_testdir
	# Add here commands to configure the package.

	touch configure-stamp

build: build-stamp

build-stamp: configure-stamp 
	dh_testdir

	# Add here commands to compile the package.
	# $(MAKE)
	$(MAKE) autoloads
	makeinfo planner-el.texi
	texi2html planner-el.texi
	touch build-stamp

clean:
	dh_testdir
	dh_testroot
	rm -f build-stamp configure-stamp

	# Add here commands to clean up after the build process.
	-$(MAKE) realclean
	dh_clean

install: build
	dh_testdir
	dh_testroot
	dh_clean -k
	dh_installdirs

	# Add here commands to install the package into debian/tmp.
	install -d $(PKGDIR)$(LISPDIR) ${PKGDIR}${DOCDIR}
	install -m 644 *.el $(PKGDIR)$(LISPDIR)
	install -m 0644 AUTHORS ${PKGDIR}${DOCDIR}/AUTHORS
	install -m 0644 COMMENTARY ${PKGDIR}${DOCDIR}/COMMENTARY
	install -m 0644 NEWS ${PKGDIR}${DOCDIR}/NEWS
	install -m 0644 README ${PKGDIR}${DOCDIR}/README
	install -m 0644 ChangeLog.2006 ${PKGDIR}${DOCDIR}/changelog
	cat ChangeLog.2005 >> ${PKGDIR}${DOCDIR}/changelog
	cat ChangeLog.2004 >> ${PKGDIR}${DOCDIR}/changelog

# Build architecture-independent files here.
binary-indep: build install
	dh_testdir
	dh_testroot
	dh_installchangelogs
	dh_installdocs
#	dh_installexamples
#	dh_install
#	dh_installmenu
#	dh_installdebconf	
#	dh_installlogrotate
	dh_installemacsen --priority=51
#	dh_installpam
#	dh_installmime
#	dh_installinit
#	dh_installcron
	dh_installinfo
	dh_installman
	dh_link
	dh_strip
	dh_compress
	dh_fixperms
#	dh_perl
#	dh_python
#	dh_makeshlibs
	dh_installdeb
#	dh_shlibdeps
	dh_gencontrol
	dh_md5sums
	dh_builddeb

# Build architecture-dependent files here.
binary-arch: build install

binary: binary-indep binary-arch
.PHONY: build clean binary-indep binary-arch binary install configure
