Source: xtla
Priority: optional
Maintainer: Milan Zamazal <pdm@debian.org>
Build-Depends-Indep: debhelper (>= 4.0.0), autoconf, emacs21, tla, texinfo
Standards-Version: 3.6.2

Package: xtla
Section: devel
Architecture: all
Depends: tla | bazaar, emacs21 | xemacs21 | emacs-snapshot
Description: Emacs front-end to GNU Arch
 arch is a revision control system with features that are ideal for
 projects characterised by widely distributed development, concurrent
 support of multiple releases, and substantial amounts of development
 on branches.  It can be a replacement for CVS and corrects many
 mis-features of that system.
 .
 Xtla is an Emacs front-end to the GNU Arch clients tla and bazaar. It
 provides the user wrappers for most tla and bazaar commands, plus
 higher level commands. In particular:
 .
  * PCL-CVS like interface for tla inventory.
  * Archive browser. Navigate painlessly in archives, categories,
    branches, versions, ...
  * Bookmark manager. Keep the most frequently used arch locations in
    your bookmark buffer.
  * Integration of ediff, Emacs's graphical diff tool.
  * Interface to view missing patches from all your partners with a
    single command.
  * An Emacs mode for arch related files (log files, =tagging-method).
